<%= form_for(@comment) do |p| %>
  <div class="form-group">
    <%= p.label :comment %>
    <%= p.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :user %>
    <%= p.collection_select :user_id, User.all, :id, :name, {}, {:class => "form-control form-control-sm"} %>
  </div>

  <div class="form-group">
    <%= p.label :post %>
    <%= p.collection_select :post_id, Post.all, :id, :content, {}, {:class => "form-control form-control-sm"} %>
  </div>

  <%= p.submit 'Submit', class: "btn btn-primary" %>
<% end %>
