<%= form_for(@comment) do |p| %>
  <div class="form-group">
    <%= p.label :comment %>
    <%= p.text_area :content, class: "form-control" %>
  </div>
  <%= p.hidden_field :post_id %>

  <%= p.submit 'Submit', class: "btn btn-primary" %>
<% end %>
