<%= form_for(@post) do |p| %>
  <%= render 'error_messages' %>
  <div class="form-group">
    <%= p.label :content %>
    <%= p.text_area :content, class: "form-control" %>
  </div>

  <%= p.submit 'Submit', class: "btn btn-primary" %>
<% end %>
