<% provide(:title, "Post from " + @post.user.username) %>
<div class="user-post">
  <p>
    Posted by <%= link_to @post.user.username, @post.user %>:
  </p>
  <h3>
    <%= @post.content %>
  </h3>

  <div class="post-comments">
    <%= pluralize(@post.comments.size, 'comment') %>
    <% @post.comments.each do |comment| %>
    <div class="user-comment">
      <p>
        Posted by <%= comment.user.username %>:
        <blockquote cite="<%= comment.user.name%>">
          <%= comment.content %>
        </blockquote>
      </p>
    </div>
    <% end %>
    <% if logged_in?%>
      <%= render 'comment_form' %>
    <% end %>

  </div>
</div>
